* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  outline: none;
  border: none;
}

ul>li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  padding: 0px 24px;
}

.fullwidth {
  width: 100%;
}

.outlinedInput {
  border: 1px solid #00ff2233;
  background: #121;
  color: white;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
}

.outlinedInput:focus {
  border: 1px solid var(--color-primary);
}

.inputWithLabel {
  position: relative;
}

.inputWithLabel label {
  font-size: 16px;
  font-weight: bold;
}

.filledButton {
  background: var(--color-primary);
  color: black;
  font-weight: 800;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  cursor: pointer;
}

.outlinedButton {
  background: #121;
  color: white;
  font-weight: 800;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  cursor: pointer;
}