.wallet {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.walletCard {
    width: 450px;
    border: 1px solid var(--color-primary);
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}