.exchangeCard {
    width: 100%;
    border-right: 1px solid #00ff2233;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.tokenBalance {
    color: #787;
    width: 100%;
    text-align: right;
}

.buttonSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    width: 100%;
}